.academiasHomeContainer {
    margin: 0;
    padding: 20px;
}

.iconoAcademia {
    height: 30px;
    width: 30px;
}


.tarjetaContainer {
    background-color: #fff;
    box-shadow: 7px 8px 20px -5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.academiasContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

.nombreAcademiaTarjeta{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 3%;
}
.nombreCoordinadorTarjeta{
    font-weight: 300;
    font-size: 1rem;
}


.mensajeNoAcademia{
    font-size: 30px;
    text-align: center;
    color: #333333;
    font-weight: 500;
}