/* - - G E N E R A L - -*/
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #212529;
    display: flex;
    width: 100vw;
    height: 100vh;
}



/* B A R R A  S U P E R I O R  */

.container{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 5;
}

.mainTitle{
    display: flex;
    justify-content: end;
    background-color: #0d47a1;
    box-sizing: border-box;
    height: 22px ;
    width: 100%;
    color: #fff;
    font-size: 1rem ;
    font-weight: 400;
    padding: .14286rem ;
}

.topBar{
background-color: #009f83;
display: flex;
direction: row;
justify-content: space-between;
}

.logoContainer{
    height: 40px;
    margin: 8px;
}

.logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.userContainer{
    display: flex;
    direction: row;
    align-items: center;
}

.userName{
    color: #fff;
    text-transform: uppercase;
}

.perfilButton{
    height: 30px;
    width: 30px;

    padding-right: 30px;
    padding-left: 20px;

    cursor: pointer;
}

.perfilImage{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}










/* M E N U  */
.centerContainer{
    display: flex;
    flex-direction: row;
    min-height: 84vh ;
    background-color: #F5F7FA;
    margin-top: 78px;
}

.dinamicContainer{
    display: flex;
    padding-left: 170px;
}
.menuContainer{
    box-sizing: border-box;
    width: 170px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); /*box-shadow: offset-x offset-y blur-radius spread-radius color inset;*/
    position: fixed;
    z-index: 0;
}

.menu{
    display: 0;
    padding: 0;
    margin: 0;
}

.menuList{
    padding: 0; /*Vertical - horizontal*/
    margin: 0;
    list-style: none;
}

.menuItem{
    padding: 12px 0;/*Vertical - horizontal*/
    border-left: 8px solid transparent;
    font-size: 1.08rem;
    color: #212529;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuItem:hover{
    color: #009f83;
   border-left: 8px solid #009f83;
}

.menuItemSelected {
    /* Color para el elemento seleccionado */
    color: #009f83;
    border-left: 8px solid #009f83;
}

.menuItemselected .iconItem{
    filter: grayscale(100%) opacity(0.4);
}

.iconItem{
    filter: grayscale(100%) opacity(0.85);
    height: 25px;
    width: 25px;
    object-fit: cover;
    margin-left: 6px;
}

.textItem{
    padding: 0 10px;
}










/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    background-color: #0d47a1;
    box-sizing: border-box;
    height: 20px ;
    width: 100%;
    color: #fff;
    font-size: 1rem ;
    font-weight: 300;
    padding: .14286rem ;

    position: fixed;
    bottom: 0;
}